body {
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    background-color: greenyellow;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.header-title {
    font-size: 2rem;
    font-weight: 600;
}

.header-menu {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button {
    background-color: transparent;
    border: 3px solid purple;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125rem;
    margin: 5px;
    padding: 0.25rem;
    width: 200px;
}

button:hover {
    background-color: rgba(255,255,255,0.5);
}

main {
    border: 2px solid blue;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

/* media query for generic tablet */
@media only screen and (min-width: 600px) {
    main {
        
    }
}

/* media query for generic desktop */
@media only screen and (min-width: 768px) {
    main {
        width: 75%;
    }
}

/* media query for less than 300px */
@media only screen and (max-width: 299px) {
    main {
        
    }
}