body {
    background-color: blueviolet;
    margin: 0 auto;
}

header {
    background-color: greenyellow;
    text-align: center;
}

.hidden {
    display: none;
}

.header-title {
    font-size: 2rem;
    font-weight: 600;
}

.header-menu {
    display: flex;
}